.popover {       
    -fx-background-color: rgba(255,0,0, 0.1);  /* semi-transparent red */                                     
}
 .popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(255,0,0, 0.5); /* instead -fx-background-color */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}
                              
}