.button {
-fx-background-color: #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
-fx-background-insets: 0.0,1.0,2.0,3.0; 
/*-fx-background-radius: 3.0,2.0,2.0,2.0;*/
-fx-padding: 12.0 30.0 12.0 30.0; 
/*-fx-font-weight: bold;*/
-fx-text-fill: white; 
-fx-font-size: 12.0px;
}

.button:hover {
	-fx-background-color: #000000, linear-gradient(#7ebcea, #87cefa), radial-gradient(center 40% -40%, radius 200%, #7ebcea 30%, #426ab7 80%);
	-fx-background-insets: 0.0, 1.0, 2.0, 3.0;
	-fx-background-radius: 3.0, 2.0, 2.0, 2.0;
	/*-fx-padding: 12.0 30.0 12.0 30.0;*/
	-fx-text-fill: black;
	-fx-font-size: 12.0px;
}


.tab1_rostering {
	-fx-background-color: #7ebcea;
}
 