.top-pane {
	-fx-background-image: url(Aerial02.jpg);
	-fx-background-size: 1000.0 800.0;
	-fx-pre-height: 1000.0;
	/*-fx-padding:40.0, 30, 40, 30;
	/*-fx-spacing:30;
	-fx-alignment:center;
	/*-fx-background-color:#87cefa;*/
		
}

.button {
	-fx-background-color: linear-gradient(#ffd65b, #e68400),
		linear-gradient(#ffef84, #f2ba44), linear-gradient(#ffea6a, #efaa22),
		linear-gradient(#ffe657 0.0%, #f8c202 80.0%, #eea10b 100.0%),
		linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0, 255.0, 255.0, 0.9),
		rgba(255.0, 255.0, 255.0, 0.0));

	-fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 12.0px;
	-fx-padding: 12.0 20.0 10.0 20.0;
}

.button:hover {
	-fx-background-color: #000000, linear-gradient(#f0ff35 0%, #ffd65b 50%),
		
		radial-gradient(center 50.0% -40.0%, radius 200.0%, #ffef84 200%, #eea10b 100.0%);
	-fx-background-insets: 0.0, 1.0, 2.0, 3.0;
	-fx-background-radius: 3.0, 2.0, 2.0, 2.0;
	/*-fx-padding: 12.0 30.0 12.0 30.0;*/
	-fx-text-fill: black;
	-fx-font-size: 12.0px;
}